.student-card {
    display: inline-block;
    margin-left: 10px;
    width: 180px;
    height: 190px;
    
   
    text-align: center;
    
}

.student-card-img {
    margin-top: 15px;
    height: 175px;
    width: 165px;
}

.student-card-info {
    background:linear-gradient(rgba(32, 56, 94, 0.5)rgba(32, 56, 94, 0.5));
    width: 150px;
    text-align: center;
    padding-top: 10px;
}

.student-card-title {
    
    color: goldenrod;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 12pt;

    font-weight: bold;
}

.student-card-element {
    margin: 5px;
    color:goldenrod;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 10pt;
}

.student-card-button {
    background: rgba(236, 244, 255, 0.85);
    color: #71829c;
    text-decoration: none;
    text-shadow: 1px 1px rgba(132, 162, 207, 0.2);
    font-size: 10pt;
    margin-top: 15px;
    padding: 0 5px;
}

.studentsPage{
  
    height: 20vh;
    padding-left: 24rem;
    padding-top: 15rem;
}