

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Josefin Sans', sans-serif; */
  }
  
 
  
  .navbar{
   margin-top: -1rem;
  }
  
  .navbar .header{
    width: 200px;
    height: 100rem;
    background: rgba(218,165,32,0.5);
    padding: 30px 0px;
    position: fixed;
   
    
  }
  
  .navbar .header h2{

    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navbar .header ul li{
    padding: 15px;
   
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .navbar .header ul li :link{
    color: black;
    display: block;
  }
  
  
  
  .navbar .header ul li:hover{
    background-color: black;
  }
      
  .navbar .header ul li:hover a{
    color: #fff;
  }
 
  

.nav-element{
  color: black;
}
