
  
  

.campusview-main{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  
 
}

.campusview-img {
    display: inline-block;
    height: 300px;
    width: 400px;
    margin: 10px;
    float: left;
}

.campusview-info {
    display: inline-block;
    padding: 10px;
    height: 200px;
    width: 300px;
}

.campusview-title {

    margin-left: 4.5rem;
    margin-top: 2rem;
    color: goldenrod;
    font-size: 25pt;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    
}

.campusview-bio {
    
    margin-left: 3.9rem;
    
    color: goldenrod;
    font-size: 10pt;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.campusview-button {
  margin-left: 28rem;
    background-color: #000;
    color: goldenrod;
    border: none;
    text-decoration: none;
    font-size: 10pt;
}

.campusview-buttons:hover{
    background-color: darkred;
    border-radius: 0.5rem;
}

.btn-remove:hover{
    background-color: darkred;
    border-radius: 0.5rem;
}

#CViewBg{
background: url("../../assets/home2.jpg") no-repeat center center/cover fixed;
}